<div *ngIf="events.length > 0; else noEvents">
  <div *ngFor="let event of events" class="flex space-x-1.5" >
    <a [routerLink]="'/events/edit/' + event.id" class="flex space-x-1.5">
      <h2>{{ event.title }}</h2>
      <p>{{ event.description }}</p>
      <p>Date: {{ event.date | date: 'dd/MM/yyyy' }}</p>
      <p>Location: {{ event.location }}</p>
    </a>
    <button class="bg-red-300" (click)="handleDelete(event)">Delete</button>
  </div>
</div>
<ng-template #noEvents>
  <p>Aucun événement disponible.</p>
</ng-template>
